<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2 data-ng-show="project.id">
            {{ 'project' | translate }} <small>{{project.number}} - {{ project.name}}</small>
        </h2>
        <h2 data-ng-show="!project.id">
            {{ 'project.new' | translate }}
        </h2>
        <div ncy-breadcrumb class="page-breadcrumb"></div>
    </div>
    <div class="col-lg-6">
        <div class="title-action">
            <button ng-if="project.id > 0" type="button" class="btn btn-white" data-ui-sref="app.projects.projectview({ projectId: project.id, project:project })"><i class="fa fa-eye"></i> {{ 'command.view' | translate }}</button>
            <button type="button" class="btn btn-primary" data-ng-disabled="!canSave()" data-ng-click="save()"><i class="fa fa-floppy-o"></i> {{ 'command.save' | translate }}</button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="row">
            <div class="col-md-12 bg-white">
                <form role="form" name="projectForm">
                    <div class="row m-t-sm">
                        <div class="col-md-4">
                            <div class="form-group form-md-lookup">
                                <label for="name">Número</label>
                                <input type="text" 
                                    id="number" 
                                    name="number" 
                                    data-ng-model="project.number" 
                                    required 
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-md-lookup">
                                <label for="name">Nombre</label>
                                <input type="text" 
                                    id="name" 
                                    name="name" 
                                    data-ng-model="project.name" 
                                    required 
                                    class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Categorías</label>
                                <div id="systemProjectCategoriesLookup" 
                                    data-lookup="systemProjectCategoriesLookup" 
                                    data-ng-model="project.categoriesIds"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-2">
                            <label for="currencyId">Moneda</label>
                            <select class="form-control" id="currencyId" data-ng-model="project.currencyId" data-ng-options="currency.id as currency.name for currency in currencies"></select>
                        </div>
        
                        <div class="col-sm-2 col-offset-1">
                            <div class="form-group">
                                <label for="investment">Inversión</label>
                                <input id="investment" name="investment" data-ng-model="project.investment" class="form-control" type="text" money>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="contractAmount">Monto contrato</label>
                                <input id="contractAmount" name="contractAmount" data-ng-model="project.contractAmount" class="form-control" type="text" money>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="total">Monto total ejecutado</label>
                                <input id="total" name="total" data-ng-model="project.total" class="form-control" type="text" money>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="aditionalAmount">Adicionales aprobados</label>
                                <input id="aditionalAmount" name="aditionalAmount" data-ng-model="project.aditionalAmount" class="form-control" type="text" money>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="adjustedAmount">Ejecuciones</label>
                                <input id="adjustedAmount" name="adjustedAmount" data-ng-model="project.adjustedAmount" class="form-control" type="text" money>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-4">
                            <label for="startDate">Fecha inicio</label>
                            <div id="startDate" data-date-picker="" data-ng-model="project.startDate"></div>
                        </div>

                        <div class="col-sm-4">
                            <label for="endDate">Fecha finalización</label>
                            <div id="endDate" data-date-picker="" data-ng-model="project.endDate"></div>
                        </div>

                        <div class="col-sm-4">
                            <label for="status">Estado</label>
                            <input id="projectStatus" name="projectStatus" data-ng-model="projectStatus.name" class="form-control" type="text" readonly>
                        </div>
                    </div>
         

                    <uib-tabset class="tabs">
                           
                       <uib-tab heading="Layout Builder" ng-if="project.id > 0">
                            <system-layouts-builder  twoway data-ng-model="project"></system-layouts-builder>
                        </uib-tab>
                        <uib-tab heading="Proyecto">
                            <div data-project-projectdata=""  data-ng-model="project" ></div>
                        </uib-tab>

                        <uib-tab heading="Equipo">
                            <div data-project-team data-ng-model="project.members"></div>
                        </uib-tab>

                         <!-- <uib-tab heading="Imagenes" data-ng-show="project.id > 0">

                             <div data-project-images data-ng-model="project"></div>
                              
                        </uib-tab>  -->

                        <uib-tab heading="Documentos" data-ng-show="project.id > 0">
                            <div data-ng-show="!project.id" class="m-t-sm alert alert-info ng-scope">Debe guardar el proyecto primero para poder asociar archivos.</div>
                            <div class="file-manager" ng-if="project.id">
                                  
                                    <system-document-management-file-manager  data-folderguid="{{project.folderGuid}}"></system-document-management-file-manager>
                              
                            </div>
                        </uib-tab>

                        <uib-tab heading="Preguntas y Respuestas" data-ng-show="project.id > 0">
                            <div data-message-thread 
                            data-message-thread-id="project.messageThreadId"
                              ></div>
                        </uib-tab>

                        <uib-tab heading="Mapa" select="reRednerMap()">
                            <div class="row">
                                <div class="col-md-12">
                                     <div class="form-group">
                                        <button type="button" class="btn btn-primary" data-ng-click="openPlacesSelector()">
                                                Agregar lugares
                                         </button>
                                                <br>
                                               <div  map-lazy-load="https://maps.google.com/maps/api/js"  map-lazy-load-params="{{googleMapsUrl}}"  style="display: block; height: 800px;">
                            
                                                    <ng-map ng-if="showMap"   id="placesMap"   map-type-id="ROADMAP" center="-34.61512,-58.414" 
                                                                pan-control="false" street-view-control="true" street-view-control-options="{position: 'RIGHT_BOTTOM'}"
                                                                map-type-control="false" zoom-control="true" 
                                                                default-style="false" zoom-to-include-markers="true"  style="display: block; height: 600px;">
                                                                <marker data-ng-repeat="place in project.places" position="{{place.geo.lat}},{{place.geo.lng}}" >  </marker>
                                                                <!-- <marker position="{{currentProjectPosition}}" 
                                                                    title="Hello World!" 
                                                                    on-dragend="getMapPosition($event)" 
                                                                    animation="Animation.BOUNCE" 
                                                                    animation="DROP" 
                                                                    draggable="true">
                                                                </marker>
                                                                <drawing-manager
                                                                    on-overlaycomplete="onMapOverlayCompleted($event)"
                                                                    drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon','rectangle','circle']}"
                                                                    drawingControl="true"
                                                                    drawingMode="null">
                                                                </drawing-manager> -->
                                                        </ng-map>
                                                 </div>
                                        </div>
                                   </div>      
                                </div>
                          
                        </uib-tab>
                        <uib-tab heading="Centros de Costo" data-ng-show="project.id > 0">
                                <div class="col-md-12">
                                        <div class="form-group">
                                            <h3><strong>Centros de Costos relacionados</strong> </h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <div class="ibox">
                                                <div class="ibox-content np">
                                                    <div class="row">
                                                        <div class="col-md-12"> -->
                                                                <table style="width: 100%; margin-bottom: 5px;">
                                                                        <tr>
                                                                            <td style="width: 100px;">
                                                                                <button type="button" data-ng-click="addCCRel()" data-ng-disabled="!params.CCRelId"
                                                                                        class="btn btn-default pull-left" style="margin-right: 5px;">
                                                                                    <span class="glyphicon glyphicon-plus"></span> Agregar
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                    <div id="systemProjectCostCentersLookup" 
                                                                                    data-lookup="systemProjectCostCentersLookup" 
                                                                                    
                                                                                    data-ng-model="params.CCRelId"></div>
                                                                                <!-- <div id="dropdownCCRel" data-dropdown-cc-rel="dropdowCCRel" data-ng-model="params.CCRelId"  style="width: 100%; margin-right: 5px;"></div> -->
                                                                            </td>
                                                                       
                                                                        </tr>
                                                                    </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                            <div class="col-md-12">
                                                             <div data-project-rel-cc-grid=""  data-ng-model="project" items:"project.costCenters" data-project-id="projectId" data-selected-items="params.selectedItems"></div> 
                                                        </div>
                                                    </div>
                                         
                                   
                       </uib-tab>
                        <uib-tab heading="Historial" data-ng-show="project.id > 0">
                            <system-workflow-instance-history data-ng-model="project.workflowInstance"></system-workflow-instance-history>
                        </uib-tab>

                       <uib-tab heading="Autorizaciones" data-ng-show="project.status>0">
                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Usuario / Rol</th>
                                            <th>Fecha asignación</th>
                                            <th>Estado</th>
                                            <th>Fecha autorización</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat-start="approval in project.workflowInstance.approvals">
                                            <td>
                                                {{approval.userName}}{{approval.roleName}}
                                            </td>
                                            <td>
                                                {{approval.createDate | amDateFormat: 'L LT' }}
                                            </td>
                                            <td>{{ ::(('status.' + approval.status) | lowercase) | translate}}</td>
                                            <td>
                                                <span data-ng-show="approval.date">{{approval.date | amDateFormat: 'L LT' }}</span>
                                            </td>
                                        </tr>
                                        <tr data-ng-show="showingDetails" data-ng-repeat-end="">
                                            <td colspan="4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Proveedor: <span data-ng-show="practice.vendorId"><a data-ui-sref="app.procurement.vendoredit({ vendorId: practice.vendor.id })">{{practice.vendor.person.name}}</a></span>
                                                        <span data-ng-show="!practice.vendorId">No posee proveedor asignado</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        Fecha inicio:
                                                        <span data-ng-show="practice.fromDate">{{practice.fromDate | amDateFormat: 'L' }}</span>
                                                        <span data-ng-show="!practice.fromDate">Sin asignar</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        Fecha fin:
                                                        <span data-ng-show="practice.toDate">{{practice.toDate | amDateFormat: 'L' }}</span>
                                                        <span data-ng-show="!practice.toDate">Sin asignar</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
              
                    </uib-tabset>
                </form>
            </div>
        </div>
    </div>
</div>

<script id="searchbox.tpl.html" type="text/ng-template">
    <input class="form-control map-controls" style="width: 70%;">
</script>

<style>
.tab-content {
    padding: 10px 10px 30px;
}
.tabs {
    margin-top: 30px;
}
form .row {
    padding-top: 10px;
}
</style>