<!-- <div class="col-md-12">
    <div class="form-group">
        <h3><strong>Diseño de Layout</strong> </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <table style="width: 100%; margin-bottom: 5px;">
            <tr>
                <td >
                    <select class="form-control" id="templateId" data-ng-model="selectedTemplateId" data-ng-options="template.id as template.name for template in templates">
                                        <option value="" disabled selected>Seleccione una pantilla</option>
                                </select>


                </td>
                <td>
                    <button type="button" data-ng-click="openEditTemplateModal(selectedTemplateId)" data-ng-disabled="!selectedTemplateId" class="btn btn-default pull-left"
                        style="margin-right: 5px;">
                            <span class="glyphicon glyphicon-edit"></span> Editar
                        </td>
                   
                    </tr>
                </table>

           
            
        </div>

 
</div> -->