<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" data-uib-dropdown="">
                    <img alt="image" class="img-circle" gravatar-src="session.email" gravatar-size="65" src="Content/img/someone_small.jpg">
                    <a class="dropdown-toggle" data-uib-dropdown-toggle="" href="">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{session.identity.person.firstName}} {{session.identity.person.lastName}}</strong>
                            </span>
                            <span class="text-muted text-xs block">{{session.identity.name}}
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                            <a data-ng-click="goToUserProfile()">Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a data-ng-click="session.logOut()" href="">{{'session.logout' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    CO
                </div>
            </li>

            <li data-ng-repeat="menuItem in session.menu" data-ng-class="{'active':$state.includes(menuItem.state)}">
                <a ui-sref="{{menuItem.state}}" ui-sref-opts="{reload: true, notify: true}" data-ng-if="menuItem.items && menuItem.items.length == 0"
                    aria-disabled="true">
                    <i class="{{menuItem.iconClass}}"></i>
                    <span class="nav-label">{{menuItem.text | translate}}</span>
                </a>
                <a data-ng-if="menuItem.items && menuItem.items.length > 0">
                    <i class="{{menuItem.iconClass}}"></i>
                    <span class="nav-label">{{menuItem.text | translate}}</span>    
                    <span class="fa arrow" data-ng-if="menuItem.items && menuItem.items.length > 0"></span>
                </a>
                <ul class="nav nav-second-level collapse" data-ng-if="menuItem.items" ng-class="{in: $state.includes(menuItem.state)}">
                    <li ui-sref-active="active" data-ng-repeat="subMenuItem in menuItem.items">
                        <a ui-sref="{{subMenuItem.state}}" ui-sref-opts="{reload: true, notify: true}" data-ng-if="subMenuItem.state">
                            <i class="{{subMenuItem.iconClass}}"></i>{{ subMenuItem.text | translate }}
                            <span class="fa arrow" data-ng-if="subMenuItem.items && subMenuItem.items.length > 0"></span>
                        </a>
                        <a data-ng-if="!subMenuItem.state">
                            <i class="{{subMenuItem.iconClass}}"></i>{{ subMenuItem.text | translate }}
                            <span class="fa arrow" data-ng-if="subMenuItem.items && subMenuItem.items.length > 0"></span>
                        </a>
                        <ul class="nav nav-third-level" data-ng-if="subMenuItem.items && subMenuItem.items.length > 0" ng-class="{in: $state.includes(subMenuItem.state)}">
                            <li ui-sref-active="active" data-ng-repeat="thirdMenuItem in subMenuItem.items">
                                <a data-ng-if="!thirdMenuItem.state" ui-sref="{{thirdMenuItem.state}}" ui-sref-opts="{reload: true, notify: true}">
                                    <i data-ng-if="!thirdMenuItem.state" class="{{thirdMenuItem.iconClass}}"></i>{{ thirdMenuItem.text | translate }}
                                </a>
                                <a data-ng-if="thirdMenuItem.state" ui-sref="{{thirdMenuItem.state}}" ui-sref-opts="{reload: true, notify: true}">
                                    <i class="{{thirdMenuItem.iconClass}}"></i>{{ thirdMenuItem.text | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>