<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-lg-10" style="float:left">
            <h2>
                <span class="text-navy">Seleccione su Gestor</span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="contact-box center-version">
                <a href="profile.html">
                    <img alt="image" class="img-circle" src="Content/img/a2.jpg">
                    <h3 class="m-b-xs"><strong>John Smith</strong></h3>
                    <div class="font-bold">Portfolio Manager</div>
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <button type="button"
                                class="btn btn-lg btn-primary" data-ng-click="selectManager('John Smith')">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box center-version">
                <a href="profile.html">
                    <img alt="image" class="img-circle" src="Content/img/a3.jpg">
                    <h3 class="m-b-xs"><strong>Alex Johnatan</strong></h3>
                    <div class="font-bold">Portfolio Manager</div>
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <button type="button"
                                class="btn btn-lg btn-primary" data-ng-click="selectManager('Alex Johnatan')">
                            Seleccionar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box center-version">
                <a href="profile.html">
                    <img alt="image" class="img-circle" src="Content/img/a4.jpg">
                    <h3 class="m-b-xs"><strong>Michael Zimber</strong></h3>
                    <div class="font-bold">Portfolio Managerr</div>
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <button type="button"
                                class="btn btn-lg btn-primary" data-ng-click="selectManager('Michael Zimber')">
                            Seleccionar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box center-version">
                <a href="profile.html">
                    <img alt="image" class="img-circle" src="Content/img/a6.jpg">
                    <h3 class="m-b-xs"><strong>Janet Carton</strong></h3>
                    <div class="font-bold">Sales manager</div>
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <button type="button"
                                class="btn btn-lg btn-primary" data-ng-click="selectManager('Janet Carton')">
                            Seleccionar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>