<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-lg-10" style="float:left">
            <h2>
                <span class="text-navy">Seleccione su Agente de Custodia </span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 custodian">
            <div class="widget yellow-bg p-lg" data-ng-click="selectCustodian('Navarro Viola')">

                <img src="Content/img/logonavarro.png" width="276" height="80"  />
                <!--<div class="m-b-md">
                    <h1 class="font-bold no-margins">Navarro Viola</h1>
                </div>-->
            </div>
        </div>
        <div class="col-lg-5 custodian">
            <div class="widget yellow-bg p-lg" data-ng-click="selectCustodian('Cohen')">

                <img src="Content/img/cohenlogo.jpg"   width="276" height="80"/>
                <!--<div class="m-b-md">
                    <h1 class="font-bold no-margins">Cohen</h1>
                </div>-->
            </div>
        </div>
        <div class="col-lg-5 custodian">
            <div class="widget yellow-bg p-lg " data-ng-click="selectCustodian('BENEDIT')">
                <img src="Content/img/benedit.JPG" width="276" height="80" />
                <!--<div class="m-b-md">
                    <h1 class="font-bold no-margins">BENEDIT</h1>
                </div>-->
            </div>
        </div>
        <div class="col-lg-5 custodian">
            <div class="widget yellow-bg p-lg " data-ng-click="selectCustodian('FINAPRO')">
                <img src="Content/img/logofinapro.png" width="276" height="80" />
                <!--<div class="m-b-md">
                <h1 class="font-bold no-margins">BENEDIT</h1>
            </div>-->
            </div>
        </div>
    </div>
</div>

<style>
.custodian .widget {
    border: solid 3px orange;
}
.custodian .widget:hover {
    border-color: yellow;
    cursor: pointer;
}
</style>