<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>
            {{ 'health.pharmacy' | translate }} <small data-ng-show="pharmacy.id">{{pharmacy.code}} {{pharmacy.description}}</small>
        </h2>
        <div ncy-breadcrumb class="page-breadcrumb"></div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a href="" target="_blank" class="btn btn-primary" data-ng-click="save()"><i class="fa fa-floppy-o"></i> {{ 'command.save' | translate }}</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <form role="form" name="pharmacyForm">
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="code">Persona</label>
                            <select id="personLookup" system-person-lookup="" ng-model="pharmacy.personId" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="code">Código</label>
                            <input type="text" class="form-control" id="code" data-ng-model="pharmacy.code">
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Descripción</label>
                            <input type="text" class="form-control" id="name" data-ng-model="pharmacy.description">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
