<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>
            {{ 'bd.management' | translate }}
        </h2>
        <div ncy-breadcrumb class="page-breadcrumb"></div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <div class="btn-group">
            </div>
        </div>
    </div>
</div>

<div class="row m-b-sm m-t-sm">
    <div class="col-md-1">
        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" data-ng-click="refresh()"><i class="fa fa-refresh"></i> Actualizar</button>
    </div>
    <div class="col-md-11">
        <form name="searchApprovalsForm" ng-submit="refresh()">
            <div class="input-group">
                <input type="text" placeholder="Buscar" class="input-sm form-control" data-ng-model="params.filter"> <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-primary"> Buscar</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="project-list table-nobordered">
                
                <div data-business-document-collections-grid="" data-view="params.view" data-filter="params.filter" data-selected-items="params.selectedItems"></div>
        </div>
    </div>
</div>