<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 data-ng-show="commercialDrug.id">
            {{ 'health.commercialdrug' | translate }} <small>{{commercialDrug.name}}</small>
        </h2>
        <h2 data-ng-show="!commercialDrug.id">
            {{ 'health.commercialdrug.new' | translate }}
        </h2>
        <div ncy-breadcrumb class="page-breadcrumb"></div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a class="btn btn-primary" data-ui-sref="app.health.commercialdrug({ commercialDrugId: commercialDrug.id })"><i class="fa fa-eye"></i>Ver</a>
            <a href="" target="_blank" class="btn btn-primary" data-ng-click="save()"><i class="fa fa-floppy-o"></i> {{ 'command.save' | translate }}</a>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <form role="form" name="commercialDrugForm">
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">{{ 'label.name' | translate }}</label>
                            <input type="text" class="form-control" id="name" data-ng-model="commercialDrug.name">
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group form-md-lookup">
                            <label for="healthDrugLookup">Principio activo</label>
                            <div id="healthDrugLookup" data-lookup="healthDrugLookup" data-ng-model="commercialDrug.drugId"></div>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="healthDrugPresentationLookup">Presentación</label>
                            <div id="healthDrugPresentationLookup" data-lookup="healthDrugPresentationLookup" data-ng-model="commercialDrug.presentationId"></div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="drugPresentation">Fabricante</label>
                            <select data-system-person-lookup="" id="manufacturer" data-ng-model="commercialDrug.manufacturerId" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>