<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title"><span class="fa fa-tasks">&nbsp;</span>Confirmar Operacion</h4>
</div>
<div class="modal-body" style="height: 120px;">
    <form role="form" name="userPassForm">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <b>Desea realizar los cambios introducidos para el usuario seleccionado ?</b>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
            <button type="button" class="btn btn-primary" data-ng-click="close()">Aceptar</button>
        </div>
    </form>

</div>