<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 data-ng-show="!healthcareprovider.id">
            {{ 'health.healthcareprovider.new' | translate }}
        </h2>
        <h2 data-ng-show="healthcareprovider.id">
            {{ 'health.healthcareprovider' | translate }}
        </h2>
        <div ncy-breadcrumb class="page-breadcrumb"></div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a href="" target="_blank" class="btn btn-primary" data-ng-disabled="healthcareproviderForm.$invalid || !healthcareproviderForm.$dirty" data-ng-click="save()"><i class="fa fa-floppy-o"></i> {{ 'command.save' | translate }}</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <form role="form" name="healthcareproviderForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="systemPersonLookup">Persona</label>
                            <div id="systemPersonLookup" data-lookup="systemPersonLookup" data-ng-model="healthcareprovider.personId"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
