<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>
            {{ 'crm.qualifications' | translate }}
        </h2>
        <div ncy-breadcrumb class="page-breadcrumb"></div>
    </div>
    <div class="col-lg-6">
        <div class="title-action">
            <system-workflow-instance-commands data-workflow-instance="lead.workflowInstance" data-can-approve="true"></system-workflow-instance-commands>
            <button type="button" class="btn btn-primary" data-ng-click="edit()" data-ng-show="!lead.workflowInstance.currentWorkflowActivity.isFinal"><i class="fa fa-pencil-square-o"></i> {{ 'command.edit' | translate }}</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2>{{lead.workflowInstance.workflow.code}}-{{lead.id}}: {{lead.person.name}}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Estado:</dt>
                                <dd data-ng-show="!lead.workflowInstance.isTerminated"><span class="label label-primary" style="font-size: 12px;">{{lead.workflowInstance.currentWorkflowActivity.name}}</span></dd>
                                <dd data-ng-show="lead.workflowInstance.isTerminated"><span class="label label-danger" style="font-size: 12px;">Cancelado</span></dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Categorías:</dt>
                                <dd><system-workflow-instance-tags data-tags="{{lead.workflowInstance.tags}}"></system-workflow-instance-tags></dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Asignado a:</dt>
                                <dd data-ng-repeat="assignedRole in lead.workflowInstance.assignedRoles" data-ng-show="!lead.workflowInstance.isTerminated"><span class="label label-default" style="font-size: 12px;">{{assignedRole.roleName}}</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Persona Interesada:</dt>
                                <dd><a data-ui-sref="app.crm.person.info({ personId: lead.person.id })">{{lead.person.name}}</a></dd>
                                <dt></dt>
                                <dd data-ng-show="lead.person.phones.length>0"><div data-ng-repeat="phone in lead.person.phones"><a href="tel:{{phone.number}}"><i class="fa fa-phone"></i>&nbsp;<span>{{getPhoneTypeName(phone.typeId)}}</span> <span>{{phone.number}}</span></a></div></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Campaña:</dt>
                                <dd>{{lead.campaign.name}}</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>Creada por:</dt>
                                <dd>{{lead.workflowInstance.createdBy.name}}</dd>
                                <dt>Mensajes:</dt>
                                <dd> {{lead.messages.length}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">
                                <dt>Creada el:</dt>
                                <dd>{{lead.workflowInstance.createDate | amDateFormat: 'L' }} {{lead.workflowInstance.createDate | amDateFormat: 'LT' }}</dd>
                                <!--
                                <dt>Última actualización:</dt>
                                <dd>16.08.2014 12:15:57</dd>
                                <dt>Participantes:</dt>
                                <dd class="project-people">
                                    <a href=""><img alt="image" class="img-circle" src="Content/img/someone.jpg"></a>
                                    <a href=""><img alt="image" class="img-circle" src="Content/img/someone.jpg"></a>
                                </dd>
                                    -->
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completada:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div ng-attr-style="{{ 'width:' + (lead.workflowInstance.progress | number : 0) + '%' }}" class="progress-bar"></div>
                                    </div>
                                    <small>Solicitud completa al <strong>{{ lead.workflowInstance.progress | number : 0 }}%</strong>.</small>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Productos:</dt>
                                <dd>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped">
                                                <tbody>
                                                    <tr data-ng-repeat="product in lead.products">
                                                        <td>
                                                            {{product.productName}}
                                                        </td>
                                                    </tr>
                                                    <tr data-ng-show="lead.products.length==0">
                                                        <td colspan="5">No existen productos asignados a este lead.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row" data-ng-if="lead.linkedPersons.length>0">
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Personas relacionados</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="linkedPerson in lead.linkedPersons">
                                        <td>
                                            <a data-ui-sref="app.system.person({ personId: linkedPerson.person.id })"><span data-ng-show="linkedPerson.person.code">({{linkedPerson.person.code}})</span> {{linkedPerson.person.name}}</a>
                                        </td>
                                        <td>
                                            {{linkedPerson.person.emails.jsoin(', ')}}
                                        </td>
                                        <td>
                                            {{linkedPerson.person.telephone}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" data-ng-if="lead.linkedProcesses.length>0">
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Procesos relacionados</th>
                                    </tr>
                                    <tr>
                                        <th>Código</th>
                                        <th>Persona</th>
                                        <th>Fecha alta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="linkedProcess in lead.linkedProcesses">
                                        <td>
                                            <a title="Ver proceso" href="" ng-click="showProcess($event, linkedProcess)">{{linkedProcess.workflowCode}} - {{linkedProcess.id}}</a>
                                        </td>
                                        <td>
                                            {{linkedProcess.personName }}
                                        </td>
                                        <td>
                                            {{
                                            linkedProcess.createDate |
                                            amDateFormat: 'L LTS'
                                            }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel ui-tab tabs-container">
                                <uib-tabset>
                                    <uib-tab heading="Mensajes" active="tab.active" class="dsads">
                                        <div data-message-thread="" data-messages="lead.messages" data-service-url="serviceUrl"></div>
                                    </uib-tab>
                                    <uib-tab heading="Historial">
                                        <system-workflow-instance-history data-ng-model="lead.workflowInstance"></system-workflow-instance-history>
                                    </uib-tab>
                                    <uib-tab heading="Formularios" select="showForms()">
                                        <div data-crm-leads-grid="" data-person-id="lead.personId" data-ng-if="params.showForms"></div>
                                    </uib-tab>
                                    <uib-tab heading="Scoring">
                                        <table class="table">
                                            <tr>
                                                <th>Entidad</th>
                                                <th>Fecha</th>
                                                <th>Resultado</th>
                                                <th>Score</th>
                                                <th>RCI</th>
                                                <th>Cuota</th>
                                                <th>Comentarios</th>
                                                <th>Acciones</th>
                                            </tr>
                                            <tr ng-repeat="score in scores">
                                                <td>{{ score.loanLenderName }}</td>
                                                <td style="min-width: 100px">{{ score.createDate | amDateFormat: 'L' }}</td>
                                                <td>{{ score.result }}</td>
                                                <td>{{ score.score }}</td>
                                                <td style="text-align: right">{{ score.rci }}%</td>
                                                <td style="text-align: right">{{ score.installment | currency }}</td>
                                                <td>{{ score.comments }}</td>
                                                <td><button class="btn btn-sm btn-primary" ng-click="requestScore(score)">Solicitar</button></td>
                                            </tr>
                                        </table>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">
            <h5>Archivos asociados</h5>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <div class="hr-line-dashed"></div>
                        <div class="text-center">
                            <span class="btn btn-primary btn-file btn-block" data-ng-class="{disabled: uploader.isUploading}">
                                <span data-ng-switch="uploader.isUploading">
                                    <i data-ng-switch-when="false" class="fa fa-upload"></i>
                                    <i data-ng-switch-when="true" class="fa fa-spinner fa-pulse"></i>
                                </span>
                                <span style="margin-left: 3px;">Asociar archivos</span>
                                <input type="file" multiple nv-file-select="" uploader="uploader" data-ng-disabled="uploader.isUploading" data-file-input="" accept="application/pdf" />
                            </span>
                            <span class="fileupload-process"></span>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <ul class="folder-list" style="padding: 0">
                            <li data-ng-repeat="folder in lead.folders"><a href=""><i class="fa fa-folder"></i> {{folder.name}}</a></li>
                            <li data-ng-repeat="file in lead.files"><a href="" data-ng-click="openFile(file)"><i class="fa fa-file"></i> {{file.name}}</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content project-manager">
                        
            <h5>Formularios</h5>
            <div class="ibox float-e-margins">

                <table class="table table-striped">
                    <tbody>
                        <tr data-ng-repeat="form in lead.forms">
                            <td>
                                <a data-href ng-click="$event.preventDefault(); abrirModalForm(form.formId, form.formResponseId)">
                                    {{form.formName}}
                                </a>
                            </td>
                        </tr>
                        <tr data-ng-show="lead.forms.length==0">
                            <td colspan="5">No existen formularios asignados a este lead.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>