<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>
            {{ 'sales.productcomponent' | translate }} <small data-ng-show="productcomponent.id">{{productcomponent.id}} </small>
        </h2>
        <div ncy-breadcrumb class="page-breadcrumb"></div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a href="" target="_blank" class="btn btn-primary" data-ng-click="save()"><i class="fa fa-floppy-o"></i> {{ 'command.save' | translate }}</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <form role="form" name="pharmacyForm">
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="quantity">Cantidad</label>
                            <input type="text" class="form-control" id="quantity" ng-model="productcomponent.quantity">
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="salesProductCatalogLookup">Componente Producto</label>
                            <div id="salesProductCatalogLookup" data-lookup="salesProductCatalogLookup" ng-model="productcomponent.salesProductId" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="catalogProductCatalogLookup">Producto</label>
                            <div id="catalogProductCatalogLookup" data-lookup="catalogProductCatalogLookup" ng-model="productcomponent.productId" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
