<div class="row">
    <div class="col-md-12">
        <div class="add-field">
            <select data-ng-model="vm.newFieldType" data-ng-options="type.name as type.value group by type.optgroup for type in vm.addField.types" class="form-control" style="display: inline-block; width: 200px;"></select>
            <button type="submit" class="btn btn-default" data-ng-click="vm.addNewField()">
                <i class="icon-plus"></i>
                Agregar Campo
            </button>
        </div>
    </div>
</div>

<hr />

<div class="row" ng-if="vm.mode===1">
    <div class="col-md-12">
        <div gridstack class="grid-stack grid1" options="vm.options" on-change="vm.onChange(event,items)">
            <div gridstack-item ng-repeat="w in vm.item.fields" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
                 gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="0">
                <div class="grid-stack-item-content white-bg">
                    <div style="position: absolute; z-index: 100; right: 10px; width: 20px; height: 20px; top: 0; color: black;"><button type="button" ng-click="vm.showProperties(w)" class="btn btn-primary btn-xs">P</button></div>
                    <div data-form-field="" data-field="w" style="margin-bottom: 20px;" data-runtime="false"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="vm.mode===2" class="row">
    <div class="col-sm-10">
        <div class="editing_container" data-ng-class="{'img-loading':App.loadingFile}">
            <div class="editing_img" id="editing_img">
                <img data-ng-src="{{App.currentFile.src}}" alt="{{App.currentFile.name}}"
                     data-ng-click="App.addField($event)" data-no-draggable>

                <div data-form-field data-ng-repeat="field in vm.item.fields"
                          data-operation-fields="App.operationFields"
                          data-concept-fields="App.conceptFields"
                          data-concept-groups="App.conceptGroups"
                          data-field="field"
                          data-id-file="App.currentFile.id"
                          data-focus-field="App.focusField"
                          data-index="$index"></divform-field>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="help-btn">
            <a class="btn btn-link" href="#appHelp" data-toggle="modal" role="button">Ayuda <i class="icon-question-sign icon-blue"></i></a>
        </div>
        <div class="files_list">
            <div class="file" data-file-id="{{File.id}}" data-order="{{File.order}}"
                 data-ng-class="{'active':App.currentFile.id==File.id}"
                 data-ng-repeat="File in Files"
                 data-file-list-item>
                <span class="handler">&Updownarrow;</span>
                <a data-ng-click="vm.changeFile(File)" title="{{File.name}}">
                    <img data-ng-src="{{File.thumb}}" alt="{{File.name}}" data-no-draggable>
                    <span class="name">{{ File.name | limitString:false:18}}</span>
                </a>
            </div>
        </div>
    </div>
</div>