<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title"><span class="fa fa-tasks">&nbsp;</span>Propiedades del insumo</h4>
</div>
<div class="modal-body" style="height: 450px;">
    <div class="row">
        <div class="col-md-12"><h3>{{product.product.tags}} - {{product.product.name}}</h3></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="quantidy">Cantidad</label>
                <input id="quantidy" name="quantity" tpye="text" class="form-control" style="width: 50px;" data-ng-model="product.quantity" required />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="procurementVendorLookup">Proveedor</label>
                <div id="procurementVendorLookup" data-lookup="procurementVendorLookup" data-ng-model="product.vendorId"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="price">Precio</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" id="price" name="price" data-ng-model="product.price" money>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="comments">Comentarios</label>
                <input id="comments" tpye="text" class="form-control" data-ng-model="product.comments" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warn" data-ng-click="cancel()">Cancelar</button>
        <button type="button" class="btn btn-success" data-ng-click="save()">Guardar</button>
    </div>
</div>