<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md ng-scope">
            <button class="btn btn-o btn-wide btn-primary" data-ng-click="save()">Guardar</button>
        </div>
        <div class="wrapper-md">
            <div class="form-group">
                <label for="description">
                    Descripción
                </label>
                <input type="text" class="form-control" id="description" ng-model="articletype.description">
            </div>
        </div>
    </div>
</div>