<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2 data-ng-show="document.id">
            {{ document.documentType.name }} <small data-ng-show="document.id">{{document.number}}</small>
        </h2>
        <h2 data-ng-show="!document.id">
            {{ 'command.new' | translate }} {{ document.documentType.name }}
        </h2>
        <div ncy-breadcrumb class="page-breadcrumb"></div>
    </div>
    <div class="col-lg-6">
        <div class="title-action">
                <system-workflow-instance-commands data-workflow-instance="document.collectWorkflowInstance" data-can-approve="canApprove()"
                data-can-go-back="canGoBack()" data-on-change="reload()"></system-workflow-instance-commands>       
            <button type="button" class="btn btn-primary" data-ng-show="document.status==5" data-ng-click="confirm()"><i class="fa fa-pencil"></i> {{ 'command.confirm' | translate }}</button>
            <a href="" target="_blank" class="btn btn-white" data-ng-show="!documentOptions.edit" data-ng-click="edit()"><i class="fa fa-pencil"></i> {{ 'command.edit' | translate }}</a>
            <a href="" target="_blank" class="btn btn-white" data-ng-show="documentOptions.edit" data-ng-click="view()"><i class="fa fa-eye"></i> {{ 'command.view' | translate }}</a>
            <a href="" target="_blank" class="btn btn-primary" data-ng-show="documentOptions.edit" data-ng-click="save()"><i class="fa fa-floppy-o"></i> {{ 'command.save' | translate }}</a>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="row">
            <div class="col-md-12 bg-white">
                <payment-document data-document="document" data-options="documentOptions"></payment-document>
            </div>
        </div>
    </div>
</div>